@charset "utf-8";
/* CSS Document */
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
img/* img elements 图片元素 */{
  border:medium none;
  margin:0;
  padding:0;
}
/** 设置默认字体 **/
body, button, input, select, textarea{
  font:14px/1"微软雅黑";tahoma,Srial, helvetica,sans-serif;
  font-size:14px;
  font-family:"微软雅黑",tahoma,Srial, helvetica,sans-serif;
}
p{
	font:14px/1.8em "微软雅黑";
}
h1, h2, h3, h4, h5, h6{font-size:100%;}
em{font-style:normal;}
/** 重置列表元素 **/
ul, ol{list-style:none;}
/** 重置超链接元素 **/
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color: #ff9900;}
/** 重置图片元素 **/
img{border:0px;}
/** 重置表格元素 **/
table{border-collapse:collapse; border-spacing:0;}
/** 清除表单框子 **/
input, textarea{outline:none;}

/** 载入网页字体 **/


.fl{float:left;}
.fr{float:right;}
.of{overflow:hidden;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.fwb{font-weight:bold;}
.mt20{
	margin-top:20px;
}
/** 设置清除浮动的元素 **/
ul:after,.clear:after{
	content:"";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}

@media screen and (max-width:1000px){
    body{
		position:absolute;
    }
